<%- include('partials/header'); -%>

<header>
    <div class="smoothie">
        <img src="assets/skills.png" alt="Skills">
    </div>
    <div class="headings">
        <h2>Embark on the Journey of Knowledge Discovery</h2>
        <a href="/courses" class="btn">View Courses</a>
    </div>
</header>
<body>
        <p>Welcome to Hero-Tech Academy, where education meets innovation in the digital age. Step into a world where boundaries are surpassed, and learning knows no limits. Our cybernetic scholars navigate a universe of courses, each link a gateway to endless possibilities. Join us as we pioneer the future of education, where innovation and imagination converge to shape tomorrow's leaders. Explore Hero-Tech Academy and embark on a journey to unlock your full potential in the ever-evolving landscape of knowledge!</p>
</body>


<%- include('partials/footer'); -%>